@import "tailwindcss";

@theme {
    --color-transparent: transparent;
    --color-accent: #49c196;
    --color-accent-hover: #49a989;
    --color-accent-active: #4a9e83;
    --color-primary: #3f3f46;
    --color-primary-hover: #36363b;
    --color-primary-panel: #4d4d56;
    --color-primary-panel-hover: #52525b;
    --color-secondary: #333338;
    --color-secondary-hover: #3e3e44;
    --color-light: #93979f;
    --color-border: #4e545f;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}
